<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <skylink>
            <api>
                <version_2_url>https://{{database}}.retailexpress.com.au/dotnet/admin/webservices/v2/webstore/service.asmx?wsdl</version_2_url>
            </api>
            <general>
                <sales_channel_id>1</sales_channel_id>
            </general>
            <attributes>
                <cache_time>60</cache_time>
            </attributes>
            <products>
                <configurable_product_match_threshold>0.5</configurable_product_match_threshold>
            </products>
            <orders>
                <guest_customer_id>124001</guest_customer_id>
                <bulk_order_recache_threshold>300</bulk_order_recache_threshold>
            </orders>
            <payments>
                <cache_time>60</cache_time>
            </payments>
        </skylink>
    </default>
</config>
