<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <skylink_pickup>
                <active>0</active>
                <model>RetailExpress\SkyLink\Model\Carrier\Pickup</model>
                <title>Pickup</title>
                <specificerrmsg>Unfortunately, this is not available. For more, please your local store.</specificerrmsg>
                <sallowspecific>0</sallowspecific>
            </skylink_pickup>
        </carriers>
        <skylink>
            <api>
                <version_2_url>https://{{database}}.retailexpress.com.au/dotnet/admin/webservices/v2/webstore/service.asmx?wsdl</version_2_url>
            </api>
            <general>
                <sales_channel_id>1</sales_channel_id>
            </general>
            <products>
                <configurable_product_match_threshold>0.5</configurable_product_match_threshold>
                <composite_product_sync_rerun_threshold>300</composite_product_sync_rerun_threshold>
            </products>
            <orders>
                <guest_customer_id>124001</guest_customer_id>
                <bulk_order_recache_threshold>300</bulk_order_recache_threshold>
            </orders>
            <debugging>
                <should_capture_logs>0</should_capture_logs>
                <uncaptured_logs_to_keep>1000</uncaptured_logs_to_keep>
                <captured_logs_to_keep>100000</captured_logs_to_keep>
                <purging_chance>0.25</purging_chance>
            </debugging>
        </skylink>
    </default>
</config>
