<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <skylink>
            <api>
                <version>2</version>
                <version_2_url>https://{{database}}.retailexpress.com.au/dotnet/admin/webservices/v2/webstore/service.asmx?wsdl</version_2_url>
            </api>
            <general>
                <sales_channel_id>1</sales_channel_id>
            </general>
        </skylink>
    </default>
</config>
