<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="skyLinkQueueListenCommand" xsi:type="object">RetailExpress\SkyLinkMagento2\Console\Command\QueueListenCommand</item>
                <item name="skyLinkQueueWorkCommand" xsi:type="object">RetailExpress\SkyLinkMagento2\Console\Command\QueueWorkCommand</item>
            </argument>
        </arguments>
    </type>
</config>
