<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- @todo move this to a factory pattern potentially? -->
    <preference for="RetailExpress\SkyLink\Eds\ChangeSetDeserialiser" type="RetailExpress\SkyLink\Eds\V2ChangeSetDeserialiser"/>

    <!-- Config implementations -->
    <preference for="RetailExpress\SkyLink\Api\ConfigInterface" type="RetailExpress\SkyLink\Model\Config"/>

    <!-- EDS implementations -->
    <preference for="RetailExpress\SkyLink\Api\Eds\ChangeSetRepositoryInterface" type="RetailExpress\SkyLink\Model\Eds\ChangeSetRepository"/>
    <preference for="RetailExpress\SkyLink\Api\Eds\ChangeSetServiceInterface" type="RetailExpress\SkyLink\Model\Eds\ChangeSetService"/>

    <!-- Customer implementations -->
    <preference for="RetailExpress\SkyLink\Api\Customers\SkyLinkContactBuilderInterface" type="RetailExpress\SkyLink\Model\Customers\SkyLinkContactBuilder"/>
    <preference for="RetailExpress\SkyLink\Api\Customers\MagentoCustomerRepositoryInterface" type="RetailExpress\SkyLink\Model\Customers\MagentoCustomerRepository"/>
    <preference for="RetailExpress\SkyLink\Api\Customers\MagentoCustomerServiceInterface" type="RetailExpress\SkyLink\Model\Customers\MagentoCustomerService"/>
    <preference for="RetailExpress\SkyLink\Api\Customers\MagentoCustomerMapperInterface" type="RetailExpress\SkyLink\Model\Customers\MagentoCustomerMapper"/>
    <preference for="RetailExpress\SkyLink\Api\Customers\SkyLinkCustomerBuilderInterface" type="RetailExpress\SkyLink\Model\Customers\SkyLinkCustomerBuilder"/>
    <preference for="RetailExpress\SkyLink\Api\Customers\SkyLinkCustomerServiceInterface" type="RetailExpress\SkyLink\Model\Customers\SkyLinkCustomerService"/>

    <!-- Create a plugin to tap into customer persistence -->
    <type name="Magento\Customer\Api\AddressRepositoryInterface">
        <plugin name="skylink_address_repository" type="RetailExpress\SkyLink\Plugin\Magento\Customers\AddressRepositoryPlugin" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="skylink_customer_repository" type="RetailExpress\SkyLink\Plugin\Magento\Customers\CustomerRepositoryPlugin" sortOrder="10" disabled="false"/>
    </type>

    <!-- Create a plugin to usefully log validation issues with managing Magento Customers -->
    <type name="RetailExpress\SkyLink\Api\Customers\MagentoCustomerServiceInterface">
        <plugin name="skylink_magento_customer_service_validation" type="RetailExpress\SkyLink\Plugin\SkyLink\Customers\MagentoCustomerServiceValidationPlugin" sortOrder="10" disabled="false"/>
    </type>

    <!-- Catalogue attribute implementations -->
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Attributes\ConfigInterface" type="RetailExpress\SkyLink\Model\Catalogue\Attributes\Config"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Attributes\MagentoAttributeOptionRepositoryInterface" type="RetailExpress\SkyLink\Model\Catalogue\Attributes\MagentoAttributeOptionRepository"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Attributes\MagentoAttributeOptionServiceInterface" type="RetailExpress\SkyLink\Model\Catalogue\Attributes\MagentoAttributeOptionService"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Attributes\MagentoAttributeRepositoryInterface" type="RetailExpress\SkyLink\Model\Catalogue\Attributes\MagentoAttributeRepository"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Attributes\MagentoAttributeServiceInterface" type="RetailExpress\SkyLink\Model\Catalogue\Attributes\MagentoAttributeService"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Attributes\MagentoAttributeSetRepositoryInterface" type="RetailExpress\SkyLink\Model\Catalogue\Attributes\MagentoAttributeSetRepository"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Attributes\MagentoAttributeSetServiceInterface" type="RetailExpress\SkyLink\Model\Catalogue\Attributes\MagentoAttributeSetService"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Attributes\SkyLinkAttributeCodeRepositoryInterface" type="RetailExpress\SkyLink\Model\Catalogue\Attributes\SkyLinkAttributeCodeRepository"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Attributes\SkyLinkProductTypeRepositoryInterface" type="RetailExpress\SkyLink\Model\Catalogue\Attributes\SkyLinkProductTypeRepository"/>

    <!-- Catalogue product implementations -->
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Products\ConfigInterface" type="RetailExpress\SkyLink\Model\Catalogue\Products\Config"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Products\MagentoConfigurableProductLinkManagementInterface" type="RetailExpress\SkyLink\Model\Catalogue\Products\MagentoConfigurableProductLinkManagement"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Products\MagentoConfigurableProductRepositoryInterface" type="RetailExpress\SkyLink\Model\Catalogue\Products\MagentoConfigurableProductRepository"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Products\MagentoConfigurableProductServiceInterface" type="RetailExpress\SkyLink\Model\Catalogue\Products\MagentoConfigurableProductService"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Products\MagentoProductMapperInterface" type="RetailExpress\SkyLink\Model\Catalogue\Products\MagentoProductMapper"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Products\MagentoSimpleProductRepositoryInterface" type="RetailExpress\SkyLink\Model\Catalogue\Products\MagentoSimpleProductRepository"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Products\MagentoSimpleProductServiceInterface" type="RetailExpress\SkyLink\Model\Catalogue\Products\MagentoSimpleProductService"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Products\MagentoStockItemMapperInterface" type="RetailExpress\SkyLink\Model\Catalogue\Products\MagentoStockItemMapper"/>
    <preference for="RetailExpress\SkyLink\Api\Catalogue\Products\UrlKeyGeneratorInterface" type="RetailExpress\SkyLink\Model\Catalogue\Products\UrlKeyGenerator"/>

    <!-- Setup product syncers -->
    <type name="RetailExpress\SkyLink\Commands\Catalogue\Products\SyncSkyLinkProductToMagentoProductHandler">
        <arguments>
            <argument name="syncers" xsi:type="array">
                <item name="simple" xsi:type="object">RetailExpress\SkyLink\Model\Catalogue\Products\SkyLinkSimpleProductToMagentoSimpleProductSyncer</item>
                <item name="configurable" xsi:type="object">RetailExpress\SkyLink\Model\Catalogue\Products\SkyLinkMatrixToMagentoConfigurableProductSyncer</item>
            </argument>
        </arguments>
    </type>

    <!-- Debugging implementations -->
    <preference for="RetailExpress\SkyLink\Api\Debugging\ConfigInterface" type="RetailExpress\SkyLink\Model\Debugging\Config"/>
    <preference for="RetailExpress\SkyLink\Api\Debugging\SkyLinkMonologHandlerInterface" type="RetailExpress\SkyLink\Model\Debugging\SkyLinkMonologHandler"/>
    <preference for="RetailExpress\SkyLink\Api\Debugging\SkyLinkLoggerInterface" type="RetailExpress\SkyLink\Model\Debugging\SkyLinkLogger"/>

    <!-- Setup a SkyLink Monolog Handler -->
    <type name="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <!-- See https://github.com/magento/magento2/issues/2529 -->
                <item name="0" xsi:type="object">Magento\Framework\Logger\Handler\System</item>
                <item name="1" xsi:type="object">Magento\Framework\Logger\Handler\Debug</item>
                <item name="2" xsi:type="object">RetailExpress\SkyLink\Api\Debugging\SkyLinkMonologHandlerInterface</item>
            </argument>
        </arguments>
    </type>

    <!-- Sales order implementations -->
    <preference for="RetailExpress\SkyLink\Api\Sales\Orders\ConfigInterface" type="RetailExpress\SkyLink\Model\Sales\Orders\Config"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Orders\MagentoOrderAddressExtractorInterface" type="RetailExpress\SkyLink\Model\Sales\Orders\MagentoOrderAddressExtractor"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Orders\MagentoOrderRepositoryInterface" type="RetailExpress\SkyLink\Model\Sales\Orders\MagentoOrderRepository"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Orders\SkyLinkContactBuilderInterface" type="RetailExpress\SkyLink\Model\Customers\SkyLinkContactBuilder"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Orders\SkyLinkCustomerIdServiceInterface" type="RetailExpress\SkyLink\Model\Sales\Orders\SkyLinkCustomerIdService"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Orders\SkyLinkGuestCustomerServiceInterface" type="RetailExpress\SkyLink\Model\Sales\Orders\SkyLinkGuestCustomerService"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Orders\SkyLinkOrderBuilderInterface" type="RetailExpress\SkyLink\Model\Sales\Orders\SkyLinkOrderBuilder"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Orders\SkyLinkOrderItemBuilderInterface" type="RetailExpress\SkyLink\Model\Sales\Orders\SkyLinkOrderItemBuilder"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Orders\SkyLinkOrderServiceInterface" type="RetailExpress\SkyLink\Model\Sales\Orders\SkyLinkOrderService"/>

    <!-- Create a plugin for managing SkyLink Order IDs within Magento Orders (extension attributes) -->
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="skylink_order_repository" type="RetailExpress\SkyLink\Plugin\Magento\Sales\Orders\OrderRepositoryPlugin" sortOrder="10" disabled="false"/>
    </type>

    <!-- Create a plugin for managing SkyLink Payment IDs within Magento Invoices (extension attributes) -->
    <type name="Magento\Sales\Api\InvoiceRepositoryInterface">
        <plugin name="skylink_invoice_repository" type="RetailExpress\SkyLink\Plugin\Magento\Sales\Invoices\InvoiceRepositoryPlugin" sortOrder="10" disabled="false"/>
    </type>
    <!-- See plugin for docs as to why this is required. @todo Remove with docs -->
    <type name="Magento\Sales\Model\Order\Invoice">
        <plugin name="skylink_invoice" type="RetailExpress\SkyLink\Plugin\Magento\Sales\Invoices\InvoicePlugin" sortOrder="10" disabled="false"/>
    </type>

    <!-- Sales shipment implementations -->
    <preference for="RetailExpress\SkyLink\Api\Sales\Shipments\MagentoOrderItemAndSkyLinkFulfillmentGrouperInterface" type="RetailExpress\SkyLink\Model\Sales\Shipments\MagentoOrderItemAndSkyLinkFulfillmentGrouper"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Shipments\MagentoShipmentBuilderInterface" type="RetailExpress\SkyLink\Model\Sales\Shipments\MagentoShipmentBuilder"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Shipments\MagentoShipmentRepositoryInterface" type="RetailExpress\SkyLink\Model\Sales\Shipments\MagentoShipmentRepository"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Shipments\MagentoShipmentServiceInterface" type="RetailExpress\SkyLink\Model\Sales\Shipments\MagentoShipmentService"/>

    <!-- Create a plugin for managing SkyLink Fulfillment Batch IDs within Magento Shipments (extension attribute) -->
    <type name="Magento\Sales\Api\ShipmentRepositoryInterface">
        <plugin name="skylink_shipment_repository" type="RetailExpress\SkyLink\Plugin\Magento\Sales\Shipments\ShipmentRepositoryPlugin" sortOrder="10" disabled="false"/>
    </type>

    <preference for="RetailExpress\SkyLink\Api\Sales\Payments\ConfigInterface" type="RetailExpress\SkyLink\Model\Sales\Payments\Config"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Payments\MagentoPaymentMethodRepositoryInterface" type="RetailExpress\SkyLink\Model\Sales\Payments\MagentoPaymentMethodRepository"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Payments\SkyLinkPaymentBuilderInterface" type="RetailExpress\SkyLink\Model\Sales\Payments\SkyLinkPaymentBuilder"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Payments\SkyLinkPaymentMethodRepositoryInterface" type="RetailExpress\SkyLink\Model\Sales\Payments\SkyLinkPaymentMethodRepository"/>
    <preference for="RetailExpress\SkyLink\Api\Sales\Payments\SkyLinkPaymentMethodServiceInterface" type="RetailExpress\SkyLink\Model\Sales\Payments\SkyLinkPaymentMethodService"/>

</config>
