<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- Add groups to SkyLink verification component -->
    <event name="skylink_verification_groups">
        <observer name="can_connect_to_api" instance="RetailExpress\SkyLink\Observer\Verification\AddSystemGroup"/>
    </event>

    <!-- Add checks to SkyLink verification component -->
    <event name="skylink_verification_checks">
        <observer name="can_connect_to_api" instance="RetailExpress\SkyLink\Observer\Verification\CanConnectToApi"/>
    </event>
</config>
