<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="retail_express_skylink_eds_change_set_registered">
        <observer name="customers" instance="RetailExpress\SkyLink\Observer\Customers\WhenEdsChangeSetWasRegistered"/>
    </event>
</config>
