<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="RetailExpress_SkyLinkMagento2::skylink" title="SkyLink" module="RetailExpress_SkyLinkMagento2" sortOrder="45" dependsOnModule="RetailExpress_SkyLinkMagento2" parent="Magento_Backend::stores" resource="RetailExpress_SkyLinkMagento2::skylink" />
        <add id="RetailExpress_SkyLinkMagento2::skylink_dashboard" title="Dashboard" module="RetailExpress_SkyLinkMagento2" sortOrder="10" dependsOnModule="RetailExpress_SkyLinkMagento2" parent="RetailExpress_SkyLinkMagento2::skylink" resource="RetailExpress_SkyLinkMagento2::skylink_dashboard" />
        <add id="RetailExpress_SkyLinkMagento2::skylink_debugging" title="Debugging" module="RetailExpress_SkyLinkMagento2" sortOrder="20" dependsOnModule="RetailExpress_SkyLinkMagento2" parent="RetailExpress_SkyLinkMagento2::skylink" resource="RetailExpress_SkyLinkMagento2::skylink_debugging" />
        <add id="RetailExpress_SkyLinkMagento2::skylink_setup" title="Setup" module="RetailExpress_SkyLinkMagento2" sortOrder="30" dependsOnModule="RetailExpress_SkyLinkMagento2" parent="RetailExpress_SkyLinkMagento2::skylink" resource="RetailExpress_SkyLinkMagento2::skylink_setup" />
    </menu>
</config>
