<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="skylink" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1">
            <label>SkyLink</label>
            <tab>service</tab>
            <resource>RetailExpress_SkyLink::system_config</resource>
            <group id="api" translate="label" type="text" sortOrder="100" showInDefault="1">
                <field id="url" translate="label" type="text" sortOrder="200" showInDefault="1">
                    <label>URL</label>
                    <comment><![CDATA[Your database url must begin with <code>https://</code>]]></comment>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="300" showInDefault="1">
                    <label>Client ID</label>
                </field>
                <field id="username" translate="label" type="text" sortOrder="400" showInDefault="1">
                    <label>Username</label>
                </field>
                <field id="password" translate="label" type="password" sortOrder="500" showInDefault="1">
                    <label>Password</label>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1">
                <label>General Settings</label>
                <field id="sales_channel_id" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1">
                    <label>Sales Channel ID</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\SalesChannelId</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
