<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="price">
                <field id="scope" canRestore="1">
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\PriceScope</source_model>
                    <comment>In order to synchronise Price Group Pricing from Retail Express to Customer Group Pricing in Magento, SkyLink needs to restrict Magento's Price Scope to Website only, so as to support different Price Group Prices per Sales Channel.</comment>
                </field>
            </group>
        </section>
        <section id="cataloginventory">
            <group id="options">

                <!-- Magento was daft and didn't leave any spacing in the sort order for us -->
                <field id="stock_threshold_qty" sortOrder="7"/>

                <!-- Shove this right in below the backorders dropdown -->
                <field id="eta_enabled" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>ETA Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If a product is on order in Retail Express, show a button to check it's ETA.</comment>
                    <depends>
                        <field id="show_out_of_stock" negative="1">0</field>
                        <field id="display_product_stock_status">1</field>
                    </depends>
                </field>

                <field id="eta_button_title" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>ETA Button Title</label>
                    <depends>
                        <field id="eta_enabled">1</field>
                    </depends>
                </field>

                <field id="eta_button_disclaimer" translate="label" type="textarea" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>ETA Button Disclaimer</label>
                    <depends>
                        <field id="eta_enabled">1</field>
                    </depends>
                </field>

            </group>
        </section>
        <section id="customer">
            <group id="account_share">
                <field id="scope">
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\CustomerScope</source_model>
                    <comment>Becuase Customers are global in Retail Express, Customers can only be global in Magento.</comment>
                </field>
            </group>
        </section>
        <section id="carriers">
            <group id="skylinkpickup" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Click and Collect</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name_title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label><![CDATA[Name & Title]]></label>
                </field>
                <field id="item_delivery_method" translate="label" type="select" sortOrder="30" showInDefault="1" canRestore="1">
                    <label>Item Fulfillment Method</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\ItemFulfillmentMethod</source_model>
                    <comment>You have the ability to set the item fulfillment method in Retail Express for any Orders coming through Click and Collect.</comment>
                </field>
                <field id="group_one_outlets" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Group 1 Outlets</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\Outlets</source_model>
                    <comment><![CDATA[If <strong>any items</strong> in the cart can only be picked up from Group 1 Outlets, then only the Outlets you select here will be available to be available during the checkout process.]]></comment>
                </field>
                <field id="group_two_outlets" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Group 2 Outlets</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\Outlets</source_model>
                    <comment><![CDATA[If <strong>all items</strong> in the cart can only be picked up from Group 1 Outlets or Group 2 Outlets, then only the Outlets you select here will be available to be available during the checkout process.]]></comment>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Displayed Error Message</label>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
        <section id="multishipping">
            <group id="options">
                <field id="checkout_multiple" canRestore="1">
                    <comment>Shipping to multiple addresses is incompatible with SkyLink.</comment>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\No</source_model>
                </field>
            </group>
        </section>
        <section id="checkout">
            <group id="options">
                <field id="skylink_guest_customer_id" translate="label" type="text" sortOrder="7" showInDefault="1" canRestore="1">
                    <label>SkyLink Guest Customer ID</label>
                    <backend_model>RetailExpress\SkyLink\Model\System\Config\Backend\GuestCustomerId</backend_model>
                    <comment><![CDATA[Enter a valid SkyLink Customer ID to place all Magento Guest Checkout orders against. <strong>Magento's Guest checkout is disabled while there is no SkyLink Guest Customer ID.</strong> <em>You will need to save changes before the <kbd>Allow Guest Checkout</kbd> dropdown can be changed.</em>]]></comment>
                </field>
                <field id="guest_checkout">
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\GuestCheckout</source_model>
                </field>
            </group>
        </section>
        <section id="skylink" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1">
            <label>SkyLink</label>
            <tab>service</tab>
            <resource>RetailExpress_SkyLink::skylink_config</resource>
            <group id="api" translate="label" type="text" sortOrder="100" showInDefault="1">
                <label>API</label>
                <field id="version_2_url" translate="label" type="text" sortOrder="200" showInDefault="1" canRestore="1">
                    <label>URL</label>
                    <comment><![CDATA[Your database url must begin with <code>https://</code>.]]></comment>
                    <validate>validate-url</validate>
                </field>
                <field id="version_2_client_id" translate="label" type="text" sortOrder="300" showInDefault="1">
                    <label>Client ID</label>
                    <validate>validate-no-empty</validate>
                </field>
                <field id="version_2_username" translate="label" type="text" sortOrder="400" showInDefault="1">
                    <label>Username</label>
                    <validate>validate-no-empty</validate>
                </field>
                <field id="version_2_password" translate="label" type="password" sortOrder="500" showInDefault="1">
                    <label>Password</label>
                    <validate>validate-no-empty</validate>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1">
                <label>General Settings</label>
                <field id="sales_channel_id" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1">
                    <label>Sales Channel ID</label>
                    <validate>not-negative-amount integer</validate>
                </field>
            </group>
            <group id="customers" translate="label" type="text" sortOrder="300" showInDefault="1">
                <label>Customers</label>
                <field id="customer_group_tax_class_id" translate="label" type="select" sortOrder="100" showInDefault="1" canRestore="1">
                    <label>Tax Class for New Customer Groups</label>
                    <source_model>Magento\Tax\Model\TaxClass\Source\Customer</source_model>
                </field>
                <field id="price_group_type" translate="label" type="select" sortOrder="200" showInDefault="1" canRestore="1">
                    <label>Price Group Type</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\PriceGroupType</source_model>
                    <comment><![CDATA[In Retail Express, a Customer can belong to both a Standard and Fixed Price Group. In Magento, a Customer can only belong to one Customer Group. You must choose if Magento Customers are placed in a Customer Group based on their Standard or Fixed Price Groups from Retail Express. <strong>Note: there is no fallback for the chosen option; for example, if you choose Fixed Price Groups but the Retail Express Customer only belongs to a Standard Price Group, the Magento Customer will not belong to any Customer Groups.</strong>]]></comment>
                </field>
                <field id="use_fake_data" translate="label" type="select" sortOrder="300" showInDefault="1" canRestore="1">
                    <label>Use Fake Data</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>The minimum requirements for Customer data (such as telephone, address information) differs between Retail Express and Magento. Where Magento rejects a Customer due to lack of information, you have the ability to use fake data to populate the Customer so as to avoid the sync being rejected. If you choose to not use fake data, all validation errors will be visible in your SkyLink logs.</comment>
                </field>
                <field id="fake_data_first_name" translate="label" type="text" sortOrder="400" showInDefault="1" canRestore="1">
                    <label>Fake First Name</label>
                    <depends>
                        <field id="use_fake_data">1</field>
                    </depends>
                </field>
                <field id="fake_data_last_name" translate="label" type="text" sortOrder="500" showInDefault="1" canRestore="1">
                    <label>Fake Last Name</label>
                    <depends>
                        <field id="use_fake_data">1</field>
                    </depends>
                </field>
                <field id="fake_data_street" translate="label" type="text" sortOrder="600" showInDefault="1" canRestore="1">
                    <label>Fake Street</label>
                    <depends>
                        <field id="use_fake_data">1</field>
                    </depends>
                </field>
                <field id="fake_data_city" translate="label" type="text" sortOrder="700" showInDefault="1" canRestore="1">
                    <label>Fake City</label>
                    <depends>
                        <field id="use_fake_data">1</field>
                    </depends>
                </field>
                <field id="fake_data_postcode" translate="label" type="text" sortOrder="800" showInDefault="1" canRestore="1">
                    <label>Fake Postcode</label>
                    <depends>
                        <field id="use_fake_data">1</field>
                    </depends>
                </field>
                <field id="fake_data_country_code" translate="label" type="select" sortOrder="900" showInDefault="1" canRestore="1">
                    <label>Fake Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="use_fake_data">1</field>
                    </depends>
                </field>
                <field id="fake_data_telephone" translate="label" type="text" sortOrder="1000" showInDefault="1" canRestore="1">
                    <label>Fake Telephone</label>
                    <depends>
                        <field id="use_fake_data">1</field>
                    </depends>
                </field>
            </group>
            <group id="products" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1">
                <label>Products</label>
                <field id="name_attribute" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Name Attribute</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\ProductNameAttribute</source_model>
                    <comment><![CDATA[Choose the attribute in Retail Express to map to a product's name <strong>(falling back to <kbd>Description</kbd> if your chosen attribute is not available for a given product)</strong>.]]></comment>
                </field>
                <field id="name_sync_strategy" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Name Sync Strategy</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\SyncStrategy</source_model>
                    <comment><![CDATA[Choose when the <kbd>Name</kbd> attribute syncs from Retail Express back to Magento.]]></comment>
                </field>
                <field id="regular_price_attribute" translate="label" type="select" sortOrder="300" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Regular Price Attribute</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\ProductPriceAttribute</source_model>
                    <comment><![CDATA[Choose the attribute in Retail Express to map to a product's regular price attribute <strong>(falling back to <kbd>POS Price [Without Discounts]</kbd> if your chosen attribute is not available for a given product)</strong>.]]></comment>
                </field>
                <field id="special_price_attribute" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Special Price Attribute</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\ProductPriceAttribute</source_model>
                    <comment><![CDATA[Choose the attribute in Retail Express to map to a product's regular price attribute <strong>(falling back to <kbd>POS Price [With Discounts]</kbd> if your chosen attribute is not available for a given product)</strong>.]]></comment>
                </field>
                <field id="url_key_attribute_code_1" translate="label" type="select" sortOrder="500" showInDefault="1" canRestore="1">
                    <label>URL Key Attribute 1</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\UrlKeyAttribute</source_model>
                    <comment><![CDATA[Choose a product attribute that we will use to generate the URL key. To avoid duplicate URL keys, we suffix a <kbd>-1</kbd>, <kbd>-2</kbd> etc until we find a unique URL key. URL keys are only ever assigned during product creation, they do not change when a product is updated.]]></comment>
                </field>
                <field id="url_key_attribute_code_2" translate="label" type="select" sortOrder="600" showInDefault="1" canRestore="1">
                    <label>URL Key Attribute 2</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\OptionalUrlKeyAttribute</source_model>
                    <comment>Choose an optional second product attribute that we will use to generate the URL key.</comment>
                </field>
                <field id="url_key_attribute_code_3" translate="label" type="select" sortOrder="700" showInDefault="1" canRestore="1">
                    <label>URL Key Attribute 3</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\OptionalUrlKeyAttribute</source_model>
                    <comment>Choose an optional third product attribute that we will use to generate the URL key using.</comment>
                    <depends>
                        <field id="url_key_attribute_code_2" negative="1">0</field>
                    </depends>
                </field>
                <field id="composite_product_sync_rerun_threshold" translate="label" type="select" sortOrder="900" showInDefault="1" canRestore="1">
                    <label>Composite Product Sync Rerun Threshold</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\CompositeProductSyncRerunThreshold</source_model>
                    <comment>Due to the way Retail Express gives us a complete list of product IDs to sync during a bulk product sync, it's likely we'll sync an entire compsite (such as configurable) product over and over, one time for each simple product that it owns. Specify a timeframe where, during a bulk product sync, we simply skip re-syncing a configurable product over and over. This setting does not affect EDS-based product syncing, which occurs every time we are notified of a change.</comment>
                </field>
            </group>
            <group id="orders" translate="label" type="text" sortOrder="500" showInDefault="1">
                <label>Orders</label>
                <field id="item_delivery_method" translate="label" type="select" sortOrder="100" showInDefault="1" canRestore="1">
                    <label>Item Fulfillment Method</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\ItemFulfillmentMethod</source_model>
                    <comment><![CDATA[You have the ability to set the item fulfillment method in Retail Express for any Orders coming through from Magento. <strong>Note: Some shipping methods (such as Click and Collect) support overriding this value in their settings.</strong>]]></comment>
                </field>
            </group>
            <group id="debugging" translate="label" type="text" sortOrder="600" showInDefault="1">
                <label>Debugging</label>
                <field id="should_capture_logs" translate="label" type="select" sortOrder="100" showInDefault="1" canRestore="1">
                    <label>Should Capture Logs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[SkyLink provides two types of logging, <kbd>uncaptured</kbd> (temporary) and <kbd>captured</kbd> (semi-permanent) logs. Both uncaptured and captured logging does not change what is logged, but how much logging history is available.]]></comment>
                </field>
                <field id="uncaptured_logs_to_keep" translate="label" type="select" sortOrder="200" showInDefault="1" canRestore="1">
                    <label>Uncaptured Logs to Keep</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\UncapturedLogsTokeep</source_model>
                    <depends>
                        <field id="should_capture_logs">0</field>
                    </depends>
                </field>
                <field id="captured_logs_to_keep" translate="label" type="select" sortOrder="300" showInDefault="1" canRestore="1">
                    <label>Captured Logs to Keep</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\CapturedLogsTokeep</source_model>
                    <comment>A large number of captured logs can make some browsers sluggish when viewing them.</comment>
                    <depends>
                        <field id="should_capture_logs">1</field>
                    </depends>
                </field>
                <field id="should_log_raw_api_calls" translate="label" type="select" sortOrder="400" showInDefault="1" canRestore="1">
                    <label>Should Log Raw API calls to/from Retail Express</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="purging_chance" translate="label" type="select" sortOrder="500" showInDefault="1" canRestore="1">
                    <label>Purging Chance</label>
                    <source_model>RetailExpress\SkyLink\Model\System\Config\Source\PurgingChance</source_model>
                    <comment>To improve efficiency, you can specify how likely SkyLink is to purge old logs. The greater the chance, the more often old logs are removed, however this comes at a minor performance hit.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
